<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Dashboard
    <!--<small>Control panel</small>-->
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row dashboardBox">
  <span>Welcome</span>
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
     <!--  <div class="small-box bg-red">
        <div class="inner">
          <h3 style="text-align:center;"><i class="fa"><img src="assets/img/icons/user.svg"></i></h3>
          <p style="text-align:center;">Manage Users</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a routerLink="/appuser" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div> -->
    </div>
    <!-- ./col -->
    <!-- <div class="col-lg-3 col-xs-6">
  
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3 style="text-align:center;"><i class="fa"><img src="assets/img/icons/quiz.svg" style="
    width: 40px;"></i></h3>
          <p style="text-align:center;">Quiz</p>
        </div>
        <a routerLink="/quiz" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
 
    <div class="col-lg-3 col-xs-6">
     
      <div class="small-box bg-red">
        <div class="inner">
          <h3 style="text-align:center;"><i class="fa fa-cogs"></i></h3>
          <p style="text-align:center;">Settings</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a routerLink="/settings" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div> -->
  </div>
  <!-- /.row -->
</section>