<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Update Password
        <!--<small>Control panel</small>-->
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning">
                    <form [formGroup]="updatePwd" #pwdForm="ngForm" (ngSubmit)="save()">
                         <div class="form-group">
                            <label class="control-label col-md-4">Current Password<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8">
                                <input formControlName="current_password" class="input-md textinput textInput form-control" name="password" placeholder="Create a password"
                                    style="margin-bottom: 10px" type="password" />
                                <div *ngIf="updatePwd.controls['current_password'].touched">
                                    <p class="form_error" *ngIf="updatePwd.controls['current_password'].hasError('requiredTrim')">You must enter your password.</p>
                                </div>
                            </div>
                        </div>

                         <div class="form-group">
                            <label class="control-label col-md-4">New Password<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8">
                                <input formControlName="password" class="input-md textinput textInput form-control" name="password" placeholder="Create a password"
                                    style="margin-bottom: 10px" type="password" />
                                <div *ngIf="updatePwd.controls['password'].touched">
                                    <p class="form_error" *ngIf="updatePwd.controls['password'].hasError('requiredTrim')">You must enter your password.</p>
                                    <p class="form_error" *ngIf="updatePwd.controls['password'].hasError('pattern')">Password must contain at least one lowercase letter, one uppercase letter, one numeric digit, and
                                        one special character, and 5 to 15 characters long</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Confirm Password<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8">
                                <input formControlName="conf_password" class="input-md textinput textInput form-control" name="conf_password" placeholder="Confirm your password"
                                    style="margin-bottom: 10px" type="password" />
                                <div *ngIf="updatePwd.controls['conf_password'].touched">
                                    <p class="form_error" *ngIf="updatePwd.controls['conf_password'].hasError('requiredTrim')">You must enter confirm password.</p>
                                    <p class="form_error" *ngIf="!updatePwd.controls['conf_password'].hasError('requiredTrim') && updatePwd.hasError('mismatchedPasswords')">Confirm password does not match</p>
                                </div>
                            </div>
                        </div>

                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button [disabled]="updatePwd.invalid || httpCall" type="submit" class="btn btn-info pull-right">
                                <img *ngIf="httpCall" src="{{config.assetPath}}/img/loader/ajax-loader.gif" /> 
                                <span *ngIf="!httpCall">Save</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>