<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="Javascript:void(0);"><b>Omni</b>Seq</a>
    </div>
    <div class="login-box-body">
      <p class="login-box-msg">Forgot your password?</p>

      <form [formGroup]="fgPwd" #fgPwdFrm="ngForm" (ngSubmit)="send()" novalidate>

        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="Email" name="email" formControlName="email" autofocus>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          <div *ngIf="fgPwd.controls['email'].touched">
            <p class="form_error" *ngIf="fgPwd.controls['email'].hasError('requiredTrim')">You must enter your email.</p>
            <p class="form_error" *ngIf="fgPwd.controls['email'].hasError('pattern')">Invalid email!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button [disabled]="fgPwd.invalid || httpCall" type="submit" class="btn btn-primary btn-flat pull-right">
              <img *ngIf="httpCall" src="{{config.assetPath}}/img/loader/ajax-loader.gif" /> 
              <span *ngIf="!httpCall">Submit</span>
            </button>
            <!-- /.col -->
          </div>
        </div>
      </form><br>
      <!-- /.col -->
    </div>
  </div>
</body>