.panel-info > .panel-heading {
  background-color: #18A689;
  border-color: #18A689;
  color: #fff;
}

.panel-info {
  border-color: #18A689;
}
.panel-info[_ngcontent-c1] > .panel-heading[_ngcontent-c1] {
  background-color: #18A689;
  border-color: #18a689;
  color: #fff;
}
.btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #ffffff;
}